<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <button class ="box" id="modeToggle">Game Mode: PvP</button>
        <button class ="box blink" style="display: none;" id="startButton">Start a Game</button>
    </div>

    <h1>links:</h1>
    <a href="{{ url_for('history') }}">
        <button class ="box" id="history">Show game history</button>
    </a>

    <canvas id="canvas1"></canvas>

    <script type="module" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>